 *{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #aab7ca;
    width: 100%;
}

header{
    background-color: #2F303A;
    width: 100%;
    
}

.head {
    padding: 20px;   
}

.head-link{
    margin-left: 25px;
    display: flex;
    /* justify-content: space-around; */
    /* padding-left: 20px;  */
}

.link{
    color: #FFFFFF;
    margin-left: 10px;
}

ul{
list-style: none;
}

.links {
    
    margin-bottom: 10px;
    color: #000000;
}

.link-name{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

main>.block {
    display: flex;
    /* justify-content: space-around; */
    /* align-content: space-around; */
}

.about{
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
    color: black;
    width: 1200px;
    margin: 20px 0;
}
.name {
    ;
}

#about-myself,
#contacts,
#skills,
#code,
#courses,
#projects,
#education,
#english {
    width: 500px;
}

.block {
    /* display: flex; */
    justify-content: space-around;
    width: 1200px;
    margin-bottom: 20px;
}

h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
}

.text {
    /* font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    width: 350px; */
    color: #000000;
      
}



.footer-bgr{
background-color: #2F303A;
width: 100%;
}

.footer{
padding: 20px;
    
}
